:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: 'Bitter', serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Pacifico', cursive;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --lightblue: #7c9dfb;
  --lightblue-purple: #a7b1f9;
  --lightpurple: #cec8f7;
  --whitepurple: #f1e4f4;
  --softwhite: #fffaf3;
  --black: #111;
}
